# dependencies
node_modules/

# environment variables
.env

# logs
logs
*.log
npm-debug.log*

# prisma
prisma/migrations/

# build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# vscode
.vscode/

# generated prisma client
.prisma/

# coverage
coverage/